---
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const allHunts = await getCollection("hunt");

  const filteredHunts = allHunts.filter((hunt) => {
    return hunt.id.includes("/clue");
  });

  return filteredHunts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
console.log(entry);
---

<main>
  <div class="text-xl">
    {entry.data.passcode}
  </div>
</main>
