---
import { CollectionEntry, getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const allEvents = await getCollection("events");

  return allEvents.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { slug } = Astro.params;
const { entry } = Astro.props;
const event: CollectionEntry<"events"> = entry;
---

<Layout>
  <div class="space-y-2">
    <a href="/events" class="">All Events</a>
    <img src={event.data.image} class="cover rounded-lg" />
  </div>
</Layout>
