<main class="m-4">
  <div class="text-xl">
    In paces we find, what place undefined; "The dead shall be raised you see";
    <br />
    With soles of our feet, near souls of defeat; begin where lock turns to sea.
  </div>
  <br />
  <div class="text-xl">
    <em>Blog Entry 1:</em>
    <br />
    i can feel them breathing down my neck. the first clue must be too easy.
    <br />
    i'll have to make it harder to get to from the will.
    <br />
    im gonna to need to make things harder if im going to keep this from them
    <br />
    a. drake
  </div>
  <br />
  <div class="text-xl">41 -72</div>
</main>
