---
export async function getStaticPaths() {
  return {
    params: {},
    props: {},
  };
}
---

<main class="m-4">
  <div class="text-xl">
    In paces we find, what place undefined; "The dead shall be raised you see";
    <br />
    With soles of our feat, neal souls of defeat; begin where lock turns to sea.
  </div>
  <br />
  <div class="text-xl">
    <em>Blog Entry 1:</em>
    <br />
    I can feel them getting closer. I think this first clue might be a bit to easy,
    <br />
    Im going to need to make things harder if Im going to keep this from them.
  </div>
  <br />
  <div class="text-xl">41, -72</div>
</main>
