<main class="m-4">
  <div class="text-xl">
    1 18 7
    <br />
    1 3 15
    <br />
    2 3 16
    <br />
    3 12 12
    <br />
    3 5 4
    <br />
    1 7 8
    <br />
    3 10 3
    <br />
    2 7 9
    <br />
    1 5 14
    <br />
    1 3 5
    <br />
    2 16 6
    <br />
    3 8 5
    <br />
    3 12 4
    <br />
    2 18 3
    <br />
    3 23 1
    <br />
    2 15 3
    <br />
    1 30 4
    <br />
    2 4 9
    <br />
  </div>
  <div>
    <br />
    Take what is learned from ink having set in secret the knowing of life after
    death.
  </div>
  <br />
  <div class="text-xl">
    <em>Blog Entry 3:</em>
    <br />
    its clear that they are not going to be okay with what im doing.
    <br />
    ive gotten threats. i know their methods, i used them once.
    <br />
    call it insanity but ive accepted the risk. whatever happens they have to know.
    i need everyone to know.
    <br />
    they say its not important, that id be fine without revealing, but thats not
    okay with me, ive sat on this for too long, i need legacy
  </div>
  <br />
  <div class="text-xl">56 60</div>
</main>
