---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <ul>
    <li>
      <a href="/local">/Local</a>
    </li>
    <li>
      <a href="/blog">/Blog</a>
    </li>
    <li>
      <a href="/events">/Events</a>
    </li>
  </ul>
</Layout>

<style>
  * {
    @apply text-2xl;
  }
</style>
