---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col space-y-2">
    <div class="flex flex-col">
      <div class="text-3xl">Mission</div>
      <div class="font-medium italic">Who are we and what are we about?</div>
    </div>
    <div class="h-0.5 bg-gray-800 rounded-full"></div>
    <ul class="flex flex-col space-y-2"></ul>

    <style>
      * {
        @apply text-xl;
      }
    </style>
  </div>
</Layout>
