---
---

<footer class="flex flex-col p-8 space-y-4 w-full">
  <div class="h-0.5 bg-gray-800 rounded-full"></div>
  <div class="flex justify-between">
    <div>Copyright &copy; 2023 Pickup, LLC</div>
    <ul class="flex space-x-2">
      <li class="grow">
        <a
          class="hover:cursor-pointer hover:fill-orange-400"
          href="https://www.instagram.com/join.local/"
          target="_blank"
        >
          <img
            src="/svg/icons/instagram.svg"
            alt="instagram-logo"
            class="w-6 h-6"
          />
        </a>
      </li>
      <li class="grow">
        <a
          class="hover:cursor-pointer hover:fill-orange-400"
          href="https://www.tiktok.com/@joinpickup"
          target="_blank"
        >
          <img src="/svg/icons/tiktok.svg" alt="tiktok-logo" class="w-6 h-6" />
        </a>
      </li>
      <li class="grow">
        <a
          class="hover:cursor-pointer hover:fill-orange-400"
          href="https://discord.gg/NV4AwYVz5X"
          target="_blank"
        >
          <img
            src="/svg/icons/discord.svg"
            alt="discord-logo"
            class="w-6 h-6"
          />
        </a>
      </li>
    </ul>
  </div>
</footer>

<style>
  * {
    @apply text-base;
  }
</style>
