---
---

<navbar class="flex flex-col p-8 space-y-4 w-full justify-center">
  <nav class="flex justify-between">
    <a href="/" class="grow">
      <img src="/svg/pickup-logo-v2.svg" alt="pickup-logo" class="h-16 w-16" />
    </a>
  </nav>
</navbar>
