---
---

<navbar class="flex flex-col p-8 space-y-4 w-full h-16 justify-center">
  <nav class="flex justify-between">
    <a href="/">
      <img src="/svg/pickup-logo-v2.svg" alt="pickup-logo" class="h-16 w-16" />
    </a>
    <ul class="flex space-x-2 items-center"></ul>
  </nav>
</navbar>
