---
---

<navbar
  class="flex flex-col p-4 space-y-4 absolute top-0 left-0 right-0 w-full h-16 justify-center"
>
  <nav class="flex justify-between">
    <a href="/">
      <img src="/svg/pickup-logo-v2.svg" alt="pickup-logo" class="h-12 w-12" />
    </a>
    <ul class="flex space-x-2 items-center">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Posts</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
</navbar>
