---
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const blogEntries = allPosts.sort((a, b) => {
    return b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf();
  });

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
  <div class="space-y-2">
    <a
      href="/blog"
      class="flex underline space-x-1 items-center hover:text-orange-500 grow"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
      </svg>
      <div>All Posts</div>
    </a>
    <div class="h-0.5 bg-gray-800 rounded-full"></div>
    <div class="flex justify-center w-full">
      <article class="w-96">
        <Content />
      </article>
    </div>
  </div>
</Layout>
