---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const allPosts = await getCollection("blog");
---

<main>
  <Layout>
    <div>this is the test</div>
  </Layout>
</main>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
