---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col space-y-2">
    <div class="flex flex-col">
      <div class="text-3xl">Local</div>
      <div class="font-medium italic">Find your people</div>
    </div>
    <div class="h-0.5 bg-gray-800 rounded-full"></div>
    <div></div>

    <style>
      * {
        @apply text-xl;
      }
    </style>
  </div>
</Layout>

<style></style>
