@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  @apply bg-gray-700 text-gray-300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
